
thead{
background-color: limegreen;
color: white;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: 1px solid;
    border-collapse: collapse;
}
 th, tr, td{
    border: 2px solid;
    border-color: green;
    border-collapse: collapse;

  }

  .noveny{
    text-align: center  ;
    color: green;
  }

  .mid{
    display:block ; text-align: center;
  }
  

 