<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Táblázat</title>
</head>
<body>
    <h1 class="noveny">Növények Listája</h1>
    
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th colspan="3">Név</th>
                <th colspan="3">Típus</th>
                <th colspan="3">Jellemző</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants %}
            <tr>
                <td colspan="3">{{ plant.name }}</td>
                <td colspan="3">{{ plant.type }}</td>
                <td colspan="3">{{ plant.feature }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
 <a class="mid" href="/">Vissza a főoldalra</a>
</body>
</html>



